/* ====================================
 Component
==================================== */
/* 全てクリアした時のメッセージを定義しています。
==================================== */
// 全てクリアした時に表示されるメッセージエリア
.c-allClear {
    align-items: center;

    // 全てクリアした時に表示されるアイコン
    &__icon{
        width: 35px;
        margin-right: $space_s;
    }

    // 全てクリアした時に表示されるメッセージ
    &__msg{
        display: inline-block;
        margin-right: $space_s;
    }
}
