/* ====================================
 Component
==================================== */
/* 文字数カウンターを定義しています。
==================================== */
.c-counter {
    display: inline-block;
    color: $color_gray_500;
    margin-top: $space_xs;
}
