/* ====================================
 Component
==================================== */
/* アイキャッチ画像を定義しています。
==================================== */
.c-eyecatch {
    border: $border_gray;
    width: 100%;
    max-height: 400px;
    object-fit: cover;
}
