/* ====================================
 Component
==================================== */
/* アイキャッチ画像を定義しています。
==================================== */
.c-eyecatch {
    width: 100%;
    min-height: 400px;
    max-height: 400px;
    object-fit: contain;
}
