/* ====================================
 Component
==================================== */
/* ホバーされた時のメッセージのスタイルを定義しています。
==================================== */
.c-hoverMsg {
    position: absolute;
    top: 8px;

    &__txt{
        background-color: $color_gray_500;
        border-radius: $radius_round;
        color: $color_white;
        font-size: $font-size_3s;
        line-height: 1rem;
        white-space: nowrap;
        padding: $space_xs;
        position: relative;
        display: inline-block;

        &:before{
            content: "";
            position: absolute;
            top: -10px;
            left: 28px;
            margin-left: -15px;
            border: 5px solid transparent;
            border-bottom: 5px solid $color_gray_500;
        }

    }
}

.c-hoverMsg--outer {
    width: 100%;
    position: relative;
}
