/* ====================================
 Component
==================================== */
/* バリデーションエラー時のスタイルを定義しています。
==================================== */
// バリデーションエラー時の入力フォームのボーダー
.c-is-invalid {
    border: $border_red;
}
// バリデーションエラー時のエラー内容の文章
.c-invalid-feedback {
    display: inline-block;
    color: $color_red;
    margin-top: $space_xs;
}
