/* ====================================
 Component
==================================== */
/* マークダウンのスタイルを定義しています。
==================================== */
pre {
    background-color: $color_gray_100;
    border: $border_gray;
    line-height: 1.5rem;
    padding: $space_s;
}
