/* ====================================
 Component
==================================== */
/* マークダウンのスタイルを定義しています。
==================================== */
pre {
    background-color: $color_black_bg;
    //border: $border_gray;
    color: $color_white_code;
    line-height: 1.5rem;
    padding: $space_l;
    margin: 0 0 $space_l;
    overflow: auto;
}

.p-chapter-list__content {
    h1{
        font-size: 1.7rem;
        margin: 0 0 $space_s;
    }
    h2{
        font-size: 1.6rem;
        margin: 0 0 $space_s;
    }
    h3{
        font-size: 1.5rem;
        margin: 0 0 $space_s;
    }
    h4{
        font-size: 1.3rem;
        margin: 0 0 $space_s;
    }

    ol {
        li {
            list-style-type: decimal;
        }
    }

    li {
        list-style-type: disc;
        list-style-position: inside;
        line-height: 1.6rem;
    }

    p{
        margin: 0 0 $space_l;
    }

    a{
        color: $color_blue_link;
        text-decoration: underline;

        &:hover{
            color: $color_blue_link_hover;
            transition: $transition_normal;
        }
    }
    blockquote {
        border-left: $border_gray_bold;
        padding: $space_s;
        margin: $space_s;
    }
    .pl-en {
        color: #0086b3;

    }
    .pl-s {
        color: #d01040;
    }
}
