/* ====================================
 Project
==================================== */
/* 記事一覧を定義しています。
==================================== */
// 記事一覧
.p-articles {
    flex-wrap: wrap;
    //margin-right: -2%;
    margin-bottom: $space_3l;

    //@include mq(lg) {
    //    margin-right: -1%;
    //}

    //@include mq(md){
    //    margin-right: 0;
    //}

    // 記事が存在しなかった場合
    &__empty{
        font-size: $font-size_s;
        padding: $space_s 0 $space_xl;
        margin: 0 auto;
        text-align: center;
    }
    &__empty-text{
        margin-bottom: $space_m;
    }
    &__empty-link{
        padding: $space_m;
    }
}

// 記事のパネル
.p-article-panel {
    margin-bottom: $space_m;
    position: relative;
    z-index: 1;

    &:hover{
        box-shadow: 0 0 0 1px $color_blue;
        border: $border_blue;
        transition: $transition_normal;

    }

    // パネル全体をリンクにする
    &__link-large{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        text-indent:-999px;
        z-index: 2;
    }

    // 記事データの項目
    &__item{
        margin-bottom: $space_m;
    }

    // 記事の画像エリア
    &__articleImg-area{
        border-bottom: $border_gray;
        width: 100%;
        height: 200px;
        // IEでobject-fitの代用をするため
        display: inline-block;
        position: relative;
        overflow: hidden;
    }

    // 記事の画像
    &__articleImg{
        // IEでobject-fitの代用をするため
        width: 100%;
        min-width: 100%;
        min-height: 100%;
        height: auto;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateX(-50%) translateY(-50%);
    }

    // object-fit対応ブラウザの場合
    @supports (object-fit: cover) {
        &__articleImg{
            position: static;
            width: 100%;
            height: 200px;
            top: 0;
            left: 0;
            transform: none;
            object-fit: cover;
        }
    }

    // 記事の下部エリア
    &__contents{
        padding: 0 $space_m $space_m;
    }

    // 記事のタイトルのエリア
    &__title-area{
        align-items: center;
        height: 55px;
    }

    // 記事のタイトル
    &__title{
        font-size: $font-size_m;
        word-break: break-word;

        @include mq(sm){
            font-size: $font-size_s;
        }
    }

    // カテゴリー
    &__category{
        margin-right: $space_xs;
    }

    // 下部のアイコンエリア
    &__bottom{
        justify-content: space-between;
        align-items: center;
        border-top: $border_gray;
        padding-top: $space_m;
    }

    // Twitterアイコン
    &__twitter-area{
        z-index: 3;

        &:hover{
            .c-icon--twitter{
                color: $color_twitter_hover;
                transition: $transition_normal;
            }
        }
    }

    /*----------------------------------
    /* マイページ専用のスタイル
    ----------------------------------*/
    // マイページの挑戦者数表示エリア
    &__myArticle-learn-area{
        margin: 0 auto 0 $space_s;
    }

    // マイページの削除ボタンフォーム
    &__deleteForm{
        z-index: 3;
    }

    // マイページの削除ボタン
    &__delete{
        line-height: inherit;
        margin-right: $space_xs;
    }
}
