/* ====================================
 Project
==================================== */
/* チャプター詳細ページを定義しています。
==================================== */
.p-childStep-detail {
    border-top: $border_gray;

    // チャプタータイトルのエリア
    &__title-area{
        align-items: center;
        border-bottom: $dashed_border_gray;
        min-height: 70px;
        padding-top: calc((70px - 18px) / 2);
        padding-bottom: calc((70px - 18px) / 2);
    }

    // チャプターの番号
    &__number{
        margin-right: $space_xs;
    }

    // チャプタータイトル
    &__title{
        font-size: $font-size_s;
        font-weight: normal;
        width: calc(100% - 35px);
    }

    // チャプターの内容
    &__content{
        border-bottom: $border_gray;
        min-height: 200px;
        padding: $space_s 0;
    }
}
