/* ====================================
 Project
==================================== */
/* エラーページを定義しています。
==================================== */
.p-error-page {
    min-height: 400px;

    &__title {
        font-size: $font-size_l;
        margin-bottom: $space_l;
    }
}
