/* ====================================
 Project
==================================== */
/* STEP詳細ページのSTEPデータ部分を定義しています。
==================================== */
.p-step-detail {

    // 詳細の上部
    &__top{
        margin-bottom: $space_l;
    }

    // STEPのタイトル
    &__title{
        font-size: $font-size_xl;
        word-break: break-word;
        margin-bottom: $space_m;
    }

    // STEPの項目
    &__item{
        margin-bottom: $space_l;
    }

    // カテゴリーのエリア
    &__category-area{
        position: absolute;
    }

    // アイキャッチ画像のエリア
    &__eyecatch-area{
        width: 50%;
        margin-right: 3%;
    }

    // アイキャッチ画像
    &__eyecatch {
        border-bottom: none;
    }

    &__right{
        width: 47%;
    }

    // STEPデータのエリア
    &__stepData-area{
        background-color: $color_gray_100;
        padding: $space_s;
        margin-bottom: $space_l;
    }

    // STEPの説明のエリア
    &__description-area{
        border-bottom: $border_gray;
        height: 65%;
        min-height: 120px;
        padding-bottom: $space_s;
    }

    // Twitterとチャレンジアイコンのエリア
    &__icon-area{
        justify-content: space-between;
        align-items: center;
    }

    // STEPデータの最下部エリア
    &__bottom{
        justify-content: space-between;
        align-items: center;
    }
}
