/* ====================================
 Layout
==================================== */
/* 記事ページのレイアウトを定義しています。
==================================== */
.l-article {
    background-color: $color_white;
    padding: $space_xl;
    margin-bottom: $space_4l;
}
