/* ====================================
 Layout
==================================== */
/* サブコンテンツを定義しています。
==================================== */
.l-container-sub{
    width: $site-width_sub;
    padding: $space_3l 0 $space_4l;
    margin: 0 auto;

    @include mq(md) {
        width: 100%;
    }
}
