/* ====================================
 Layout
==================================== */
/* 横一杯のレイアウトのメインコンテンツを定義しています。
==================================== */
.l-container-wide {
    width: 100%;
    padding: 0 0 $space_6l;
    margin: 0 auto;
}
