/* ====================================
 Layout
==================================== */
/* 入力フォームのレイアウトを定義しています。
==================================== */
.l-form-card {
    max-width: 500px;
    padding-bottom: $space_4l;
    margin: 0 auto;
}
